In [ ]:
#Author: Shruti Warrier
#Date: 2020/02/22
#CS301-006, Professor Watson
#HW4 Solution 
#HW4 uses a Kaggle dataset about the Corona Virus to analyze and calculate findngs
#https://github.com/swarrier16/cs301_summaryTests
#https://github.com/swarrier16/cs301_summaryTests/commit/a3c046f7c7fd6f2de5b2bb8b1b732e806e0b2606
#Branch: Master

## Problem 1

In [287]:
import pandas as pd
import numpy as np

In [288]:
my = pd.read_csv('/Users/swarrier/Documents/CS301/Corona.csv')

In [291]:
def get_percent_nans(df, column_name):
    null = df[column_name].isnull().sum()
    percent = null / len(df[column_name]) * 100
    
    return percent

In [292]:
for col in my.columns:
    print ('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my,col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

## Problem 2

In [306]:
countrySort = my.groupby('Country/Region')
asc = countrySort['Country/Region','Death'].sum()
asc.sort_values('Death', ascending=False).iloc[:1]

                 Death
Country/Region
Mainland China  6539.0

## Problem 3

In [307]:
countrySort = my.groupby('Country/Region')
asc = countrySort['Country/Region','Suspected'].sum()
asc.sort_values('Suspected', ascending=False).iloc[:1]

                Suspected
Country/Region
Hong Kong          1139.0

## Problem 4

In [312]:
countrySort = my.groupby('Country/Region')
asc = countrySort['Country/Region','Recovered'].sum()
asc.sort_values('Recovered', ascending=False).iloc[1:2]

                Recovered
Country/Region
Thailand            117.0

## Problem 5 and 6

In [431]:
def get_continent(country):
    
    continents = {
        'Europe':['Germany', 'France', 'Italy', 'Russia', 'UK', 'Belgium', 'Spain', 'Sweden', 'Finland'], 
        'North America': ['Canada', 'United States', 'Mexico'],
        'South America': ['Columbia', 'Brazil'],
        'Africa' : ['Ivory Coast'],
        'Australia': ['Australia'],
        'Asia': ['Mainland China', 'Japan', 'South Korea', 'Philippines','Vietnam', 'Malaysia', 'Nepal', 'Singapore','Hong Kong', 'Cambodia', 'India', 'Macau', 'Sri Lanka', 'Taiwan', 'Thailand', 'United Arab Emirates']
    }
    
    for key, value in continents.items():
        for item in value:
            if item == country: 
                return key

get_continent('UK')

'Europe'

## Problem 7

In [432]:
values = []

for row in my["Country/Region"]: 
    val = get_continent(row)
    values.append(val)

my['Continent'] = values

my.iloc[:50]

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
5,Jiangxi,Mainland China,2/5/20 1:33,548.0,NaN,27.0,0.0,Asia
6,Anhui,Mainland China,2/5/20 13:43,530.0,NaN,23.0,0.0,Asia
7,Chongqing,Mainland China,2/5/20 9:13,376.0,NaN,15.0,2.0,Asia
8,Jiangsu,Mainland China,2/5/20 12:43,341.0,NaN,23.0,0.0,Asia
9,Shandong,Mainland China,2/5/20 10:13,307.0,NaN,15.0,0.0,Asia
10,Sichuan,Mainland China,2/5/20 10:13,301.0,NaN,24.0,1.0,Asia
11,Beijing,Mainland China,2/5/20 5:43,253.0,NaN,24.0,1.0,Asia
12,Shanghai,Mainland China,2/5/20 6:23,243.0,NaN,15.0,1.0,Asia
13,Fujian,Mainland China,2/5/20 12:33,205.0,NaN,11.0,0.0,Asia
14,Heilongjiang,Mainland China,2/5/20 12:13,190.0,NaN,7.0,2.0,Asia
15,Shaanxi,Mainland China,2/5/20 8:43,165.0,NaN,6.0,0.0,Asia
16,Guangxi,Mainland China,2/5/20 12:03,150.0,NaN,13.0,0.0,Asia
17,Hebei,Mainland China,2/5/20 11:23,135.0,NaN,6.0,1.0,Asia
18,Yunnan,Mainland China,2/5/20 7:43,124.0,NaN,5.0,0.0,Asia
19,Hainan,Mainland China,2/5/20 16:43,99.0,NaN,5.0,1.0,Asia
20,Liaoning,Mainland China,2/5/20 15:23,89.0,NaN,4.0,0.0,Asia
21,Shanxi,Mainland China,2/5/20 15:23,81.0,NaN,5.0,0.0,Asia
22,Tianjin,Mainland China,2/5/20 3:43,69.0,NaN,2.0,1.0,Asia
23,Guizhou,Mainland China,2/5/20 12:33,64.0,NaN,9.0,1.0,Asia
24,Gansu,Mainland China,2/5/20 16:23,62.0,NaN,6.0,0.0,Asia
25,Jilin,Mainland China,2/5/20 11:03,54.0,NaN,2.0,0.0,Asia
26,Inner Mongolia,Mainland China,2/5/20 8:53,42.0,NaN,3.0,0.0,Asia
27,Ningxia,Mainland China,2/4/20 2:13,34.0,NaN,1.0,0.0,Asia
28,Xinjiang,Mainland China,2/5/20 2:03,32.0,NaN,0.0,0.0,Asia
29,NaN,Singapore,2/5/20 16:33,28.0,NaN,0.0,0.0,Asia
30,NaN,Thailand,2/4/20 15:33,25.0,NaN,5.0,0.0,Asia
31,NaN,Japan,2/4/20 16:43,22.0,NaN,1.0,0.0,Asia
32,Hong Kong,Hong Kong,2/5/20 13:13,21.0,NaN,0.0,1.0,Asia
33,NaN,South Korea,2/5/20 15:33,19.0,NaN,0.0,0.0,Asia
34,Qinghai,Mainland China,2/5/20 3:13,17.0,NaN,3.0,0.0,Asia
35,NaN,Germany,2/3/20 20:53,12.0,NaN,0.0,0.0,Europe
36,NaN,Malaysia,2/5/20 15:43,12.0,NaN,0.0,0.0,Asia
37,Taiwan,Taiwan,2/4/20 14:53,11.0,NaN,0.0,0.0,Asia
38,Macau,Macau,2/4/20 4:43,10.0,NaN,0.0,0.0,Asia
39,NaN,Vietnam,2/3/20 21:43,8.0,NaN,1.0,0.0,Asia
40,NaN,France,2/1/20 1:52,6.0,NaN,0.0,0.0,Europe
41,NaN,United Arab Emirates,2/2/20 5:43,5.0,NaN,0.0,0.0,Asia
42,New South Wales,Australia,2/1/20 18:12,4.0,NaN,2.0,0.0,Australia
43,Victoria,Australia,2/1/20 18:12,4.0,NaN,0.0,0.0,Australia
44,Queensland,Australia,2/4/20 16:53,3.0,NaN,0.0,0.0,Australia
45,NaN,India,2/3/20 21:43,3.0,NaN,0.0,0.0,Asia
46,South Australia,Australia,2/2/20 22:33,2.0,NaN,0.0,0.0,Australia
47,"Toronto, ON",Canada,2/4/20 0:13,2.0,NaN,0.0,0.0,North America
48,NaN,Italy,1/31/20 8:15,2.0,NaN,0.0,0.0,Europe
49,NaN,Philippines,2/2/20 3:33,2.0,NaN,0.0,1.0,Asia

## Problem 8

In [436]:
continentSort = my.groupby('Continent')
asc = continentSort['Continent','Confirmed'].sum()
asc.sort_values('Confirmed', ascending=False)

               Confirmed
Continent
Asia            304958.0
Europe             421.0
North America      273.0
Australia          238.0
Africa               1.0
South America        0.0